
@{
    ViewBag.Title = "New_Post";
    Layout = "~/Views/Share/_FactoryLayout.cshtml";
}

<div class="row p-4">
    <div class="col-sm-8"><h2>Add Posts</h2></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-info add-new" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-plus"></i> Add New</button>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="newPosterror">@ViewBag.ErrorMessage</div>

                <form class="row g-3 " id="addPostForm" action="/agency/addnewpost" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Price
                        </label>
                        <input type="number" class="form-control " id="AgencyName" required name="trip_price">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Title
                        </label>
                        <input type="text" class="form-control " id="TripTitle" required maxlength="50" name="trip_title">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Trip details
                        </label>
                        <textarea type="text" class="form-control " id="Trip Details" required name="trip_details"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Date
                        </label>
                        <input type="datetime" class="form-control " id="Trip Date" required name="trip_date">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Destination
                        </label>
                        <input type="text" class="form-control " id="Trip Destination" required name="trip_destination">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Image
                        </label>
                        <input type="file" accept="images/*" class="form-control " id="TripImage" required name="trip_image">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $("#addPostForm").validate();
</script>

