@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}

<div class="row p-4">
    <div class="col-sm-8"><h2>Add Posts</h2></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-info add-new" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-plus"></i> Add New</button>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="newPosterror"></div>
                <form class="row g-3 " id="addPostForm">
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Price
                        </label>
                        <input type="number" class="form-control "required name="trip_price">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Title
                        </label>
                        <input type="text" class="form-control "  required maxlength="50" name="trip_title">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Trip details
                        </label>
                        <textarea type="text" class="form-control " required name="trip_details"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Date
                        </label>
                        <input type="date" class="form-control "  required name="trip_date">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Destination
                        </label>
                        <input type="text" class="form-control " required name="trip_destination">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Trip Image
                        </label>
                        <input type="file" accept="images/*" class="form-control "  required name="trip_image">
                    </div>
                </form>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit" id="addPostBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/addpost.js"></script>

