@{
    ViewBag.Title = "Travels | Home";
    Layout = "~/Views/Shared/_WallLayout .cshtml";
}

    <div class="row d-flex align-items-center justify-content-center m-5">
        <div class="col-md-6">
            <div class="card border border-white p-5 container">
                <div class="d-flex justify-content-between p-2 px-3">
                    <!--Agancy Name and photo-->
                    <div class="d-flex flex-row align-items-lg-center">
                        <img src="/image/serveimage/" width="50" class="rounded-circle p-2">
                        <div class=" flex-column p-2">
                            <span class="font-weight-bold">AgencyName</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis">
                        <small class="mr-2">2000/08/10</small>
                    </div>
                    <!------------------------------------>
                </div>
                <!--Tour Image-->
                <img src="/image/servepostimage/" class="img-fluid rounded p-1" alt="...">
                <!------------------------------------>
                <!--Trip Title and Date ,description....-->
                <div class="p-2">
                    <h3>Title</h3>
                    <p class="text-justify">
                        Details

                    </p>
                    <p>Trip Date : <span>2002/08/10</span></p>
                    <p>Trip Destination : <span>Destination</span></p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row icons d-flex align-items-center">
                            <a class="link m-r-10">
                                <i class="far fa-thumbs-up text-primary" id="like">
                                </i>
                            </a>
                            <div>0</div>
                        </div>
                        <div class="d-flex flex-row icons d-flex align-items-center">
                            <a class="link m-r-10">
                                <i class="far fa-thumbs-down text-primary" id="like">
                                </i>
                            </a>
                            <div>0</div>
                        </div>
                        <!------------------------------------>
                        <!-- Comment-->
                        <div class="d-flex flex-row muted-color align-items-center">
                            <i class="far fa-star text-warning fa-4x"></i>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


